@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

.nav-container {
    min-height: 130px;
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    width: 50%;
}

.logo-container img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 44px;
    margin-bottom: 46px;
    padding-right: 20px;
    margin-left: 240px;
}

.logo-container p {
    font-size: 45px;
    margin-top: 32px;
    margin-bottom: 39px;
    color: #0B0223;
    font-weight: 700;
}

.span-1 {
    color: #F948B2;
}

.nav-item-container {
    width: 50%;
    display: flex;
    justify-content: right;
    margin-right: 240px;
    align-items: center;
}

.nav-item-container a {
    text-decoration: none;
    padding-right: 30px;
    font-weight: 500;
    font-size: 18px;
    color: #3C354F;
}

.nav-border {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}

.yt {
    height: 20px;
    width: 50px;
}

.tik {
    height: 20px;
}

/* nav ends here */

.banner-container {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
}

.banner-text {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
    width: 901px;
    height: 700px;
    flex-shrink: 0;
    margin-top: 0px;

}

.text {
    margin-left: 244px;
    margin-top: 148px;
}

.banner-text h2 {
    color: #0B0223;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 50px;
    margin-bottom: 0px;
}

.banner-text h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 88px;
    padding-right: 10px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.banner-text p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    margin-bottom: 17px;
}

.text img {
    width: 40px;
    height: 24px;
    flex-shrink: 0;
}

.banner-img img {
    height: 700px;
    margin-right: 240px;
    margin-left: 45px;
}

.text button {
    margin-bottom: 150px;
    border: none;
    color: white;
    font-size: 20px;
}

.btn-1 {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    margin-right: 24px;
    margin-top: 15px;
}

.btn-2 {
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
}

/* first banner end */

.second-banner-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    width: 1920px;
    height: 600px;
    flex-shrink: 0;
    margin-top: -5px;
    display: flex;
}

.second-img {
    margin-left: 210px;
    padding-bottom: 55px;
    padding-top: 55px;
}

.second-text {
    text-align: right;
    justify-content: center;
    margin-top: 95px;
    margin-left: 70px;
}

.second-text h2 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.second-text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.second-text button {
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    color: white;
    border: none;
}

.span-our {
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
}

.span-quote {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
}

/* second banner end */

.vid-header {
    justify-content: center;
    text-align: center;
}

.vid-header h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
}

.funny {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.vid-header p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-top: -15px;
}

.video {
    width: 342px;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    margin-left: 800px;
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 204px;
}

.image-container p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

/* vid section ended */

.instant-container {
    display: flex;
}

.instant-text {
    text-align: right;
    margin-left: 435px;
    margin-top: 290px;
    margin-bottom: 335px;
}

.instant-text h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.instant-text span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.instant-text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    max-width: 353px;
}

#instant-img {
    margin-left: 265px;
    margin-right: 210px;
    position: relative;
}

.img-1 {
    margin-top: 120px;
}

.img-2 {
    position: absolute;
    bottom: 125px;
    left: -140px;
}


.online-container {
    display: flex;
}

.online-text {
    text-align: left;
    margin-left: 90px;
    margin-right: 297px;
    margin-top: 250px;
    margin-bottom: 335px;
}

.online-text h2 {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.online-text span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-text p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    max-width: 353px;
}

#online-img {
    margin-left: 265px;
    margin-right: 210px;
    position: relative;
}

.img-3 {
    margin-top: 80px;
}

.img-4 {
    position: absolute;
    bottom: 100px;
    right: -135px;
}

/* overlay images ended */

.kids-img img {
    margin-top: 0;
}

.career-header button {}

.careers-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 821px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    padding-left: 240px;
}

.career-header {
    flex: 1;
    margin-top: 120px;
}

.career-header h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
}

.career-header p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
}

.positions-and-locations {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.artist-positions {
    margin-right: 47px;
}

.artist {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}

.location {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
    height: 400px;
}

.artist-positions button {
    border-radius: 48px;
    background: #FFF;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    border: none;
    color: #FF42A5;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.artist-positions h5,
.locations h5 {
    line-height: 1.7;
}

/* career section ended */


.games-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 427px;
}

.games-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 135px;
    text-align: right;
}

.game-item {
   display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 50px;
    background: #FFF;
    width: 210px;
    height: 60px;
    flex-shrink: 0;
    color: #0B0223;
font-size: 20px;
font-weight: 600;
}

.game-item img {
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;
}



.game-item h5 {
    margin: 0;
}

.span-arcade{
    color: #FF42A5;
}
.games-img .game-item:nth-child(3) {
    border: 2px solid #FF42A5;
}


.games-img-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 120px;
    text-align: right;
    margin-top: -60px;
}

.game-item-2 {
   display: flex;
    align-items: center;
    margin-right: 20px;
    border-radius: 50px;
    background: #FFF;
    width: 210px;
    height: 60px;
    flex-shrink: 0;
    color: #0B0223;
font-size: 20px;
font-weight: 600;
}

.game-item-2 img {
    width: 40px;
    margin-right: 5px;
    margin-left: 5px;
}



.game-item-2 h5 {
    margin: 0;
}

/* games section ended */

